
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "bower_components/font-awesome/scss/font-awesome.scss";

 .item-name {
  width: 24%;
}
 .item-qty {
  width: 9.5%;
}
 .item-amount {
  width: 9.5%;
}
 .item-discount {
  width: 9.5%;
}
 .item-rate{
   width:10%;
 }
 .item-tax {
  width: 15%;
}
 .item-type {
  width: 15%;
}
 .item-cost {
  width: 10%;
}
 .item-description{
   width:100%
 }
 th, td{float:left; display:inline-block}

html {
 position: relative;
 min-height: 100%;
}
body {
 /* Margin bottom by footer height */
 margin-bottom: 60px;
}
.footer {
 position: absolute;
 bottom: 0;
 width: 100%;
 /* Set the fixed height of the footer here */
 height: 60px;
 background-color: #f5f5f5;
}

table {
 border: 1px solid #dde0e7 !important;
 border-collapse: collapse;
}
table td, table th {
 border: 1px solid #dde0e7 !important;
}
table th {
 color: #666 !important;
 font-size: 14px !important;
 font-size: 1.4rem !important;
}
table td {
 color: #777 !important;
}
table tr:hover td {
 background: #f0f5f8 !important;
}
table thead, table tfoot {
 background: #f0f5f8 !important;
 border-bottom: 1px solid #dde0e7 !important;
}